---
layout: layout.liquid
title: Planetary Cards
---


<h1>My Planetary Cards</h1>

{%Card "Sun" "Type G2V"%}
{%Card "Mercury" "0.39 AU"%}
{%Card "Venus" "0.72 AU"%}
{%Card "Earth" "1.00 AU"%}
{%Card "Mars" "1.52 AU"%}
<span class="blocker"></span>
{%Card "Jupiter" "5.2 AU"%}
{%Card "Saturn" "9.5 AU"%}
{%Card "Uranus" "19.2 AU"%}
{%Card "Neptune" "30.1 AU"%}