:root {
    --card-background-color: #40D433;
    --text-color: #F8F8F8;
}

body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 3%;
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template: 1fr 2fr 3% 2fr 1fr/repeat(6, 1fr);
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    grid-column: 1/7;
    order: -1;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardBackground {
    background-color: gray;
    margin: 0 6%;
    border-radius: 4%;
    border: 3px solid #18181A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Sun {
    grid-column: 1/3;
    grid-row: 2/span 3;
}

div {
    width: 60%;
    height: 0;
    padding-top: 60%;
    border-radius: 50%;
    margin: 10% 0;
}

.Sun {
    background-color: yellow;
}

.Earth {
    background-color:#40D433;
}

.blocker {
    grid-column: 3/span 4;
}