:root {
    --card-background-color: #4D4d4d;
    --text-color: #F8F8F8;
    --small-planet-size: 30%;
    --basic-planet-size: 50%;
    --big-planet-size: 60%;
    --huge-planet-size: 80%;
}

body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 2% 7%;
    text-align: center;
    height: 94vh;
    display: grid;
    grid-template: 7em 1fr 3% 1fr 1%/repeat(6, 1fr);
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    grid-column: 1/7;
    order: -1;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.cardBackground {
    background-color: var(--card-background-color);
    margin: 0 6%;
    border-radius: 4%;
    border: 3px solid #18181A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.cardBackground:hover {
    scale: 1.2;
}

#Sun {
    grid-column: 1/3;
    grid-row: 2/span 3;
    justify-content: space-evenly;
}

div {
    height: 0;
    width: 60%;
    padding-top: 60%;
    border-radius: 50%;
    margin: 10% 0;
}

.Sun {
    width: var(--huge-planet-size);
    padding-top: var(--huge-planet-size);
    background-color: #FFFF00;
}

.Mercury {
    width: var(--small-planet-size);
    padding-top: var(--small-planet-size);
    background-color: #708090;
}

.Venus {
    width: var(--basic-planet-size);
    padding-top: var(--basic-planet-size);
    background-color: #F8F6F0;
}

.Earth {
    width: var(--basic-planet-size);
    padding-top: var(--basic-planet-size);
    background: linear-gradient(40deg, #0339f8 0%, #03BB30 100%);
    background-color: #0339f8;
}

.Mars {
    width: var(--small-planet-size);
    padding-top: var(--small-planet-size);
    background-color: #8b0000;
}

.blocker {
    grid-column: 3/span 4;
}

.Jupiter {
    width: var(--huge-planet-size);
    padding-top: var(--huge-planet-size);
    background: linear-gradient(0deg, rgba(226,200,90,1) 0%, rgba(253,187,45,1) 100%);
}

.Saturn {
    width: var(--huge-planet-size);
    padding-top: var(--huge-planet-size);
    background-color: #BB9A4B;
}

.Uranus {
    width: var(--big-planet-size);
    padding-top: var(--big-planet-size);
    background-color: #008B8B;
}

.Neptune {
    width: var(--big-planet-size);
    padding-top: var(--big-planet-size);
    background-color: #008BAA;
}

h2 {
    font-size: 2vw;
    margin: 3% 0;
}

p {
    font-size: 1.5vw;
    margin: 5% 0;
}